:root {
  --color-success: #34c759;
  --gray-200: #e0e0e0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
}




.preview-box {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 3/5;
  background: #f7f7f7;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #666;
  cursor: pointer;
}
/* Linhas de placeholder */
.line {
  border-radius: 4px;
}
.title-line {
  width: 50%;
  height: 12px;
  background: #ccc;
}
.short-line {
  width: 40%;
  height: 10px;
  background: #ddd;
}
.full-line {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
}
.footer-line {
  width: 25%;
  height: 10px;
  background: #ccc;
}

.calendar-toggle {
  cursor: pointer;
}


.is-invalid {
  border-color: #dc3545 !important;
}


.gradient-custom {
  /* fallback for old browsers */
  background: #4EFF71;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #45D261, #4EFF71);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #45D261, #4EFF71)
}


#draw-area {
  width: 100%;
  max-width: 800px; /* Largura máxima */
  aspect-ratio: 3/2; /* Proporção 3:2 (ajuste conforme necessidade) */
  margin: 0 auto;
  border: 2px solid #C2C2C2;
  border-radius: 10px;
  position: relative;
  touch-action: none; /* Importante para mobile */
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; /* Remove espaços extras */
}

.digit-input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.form-control:focus {
  border-color: #5F61C2; !important;
  box-shadow:1px 1px 1px  #5F61C2;!important
}

.animationBar {
  transition: width 1.5s ease-in-out;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    max-width: 800px;
  }

  img {
    max-width: 400px;
  }

  #draw-area {
    width: 90%; 
    max-width: 400px;  
  }
}

@media (max-width: 480px) {
  #draw-area {
    width: 85%;
    max-width: 350px;
  }
}