body {
  font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 2.5rem;
  }

  .is-invalid {
    border-color: #dc3545 !important;
  }
  
  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }
  
    .container {
      max-width: 800px;
    }
  
    img {
      max-width: 400px;
    }
  }
  